* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
/*Header*/
  body {
    background-color: rgb(29,141,194);
    font-family: 'Source Sans Pro', sans-serif;
  }
  header { 
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 2000;
    background-color:rgb(42,123,152);
  }
  .tableros{
    float: left;
    margin-top: 15px;
    margin-left: 10px;
    color: white;
    background-color: rgb(102,163,193);
    border: none;
    border-radius: 3px;
    padding: 8px;
    font-size: 15px;
  }
  .barra-buscador{
    float: left;
    margin-top: 5px;
    color: white;
    background-color: rgb(102,163,193);
    border-radius: 3px;
    padding: 3pxs;
    margin-left: 10px;
    margin-top: 15px;   
    width: 200px;
  }
  .buscador {
    display: inline-block;
    border: none;
    background-color: rgb(102,163,193);
  }
  .fa-search{
    margin-top: 5px;
    color: white;
    background-color: rgb(102,163,193);
    border-radius: 3px;
    padding-bottom: 10px;
    padding-top: 2px;
  }
  .logo{
    width: 100px;
    height: auto ;
    float: left;
    margin-left: 25%;
    margin-right:25%;
  }
  .botones{
    display: inline-block;
    margin-right: 0px;
    color: white;
  }
  .use{
    width: 40px;
    height: 40px;
    color: white;
    background-color: rgb(102,163,193);
    border: none;
    border-radius: 3px;
    padding: 5px;
    border: none;
    margin-top: 12px;
  }
  .fa-plus{
    font-size: 20px;
    padding: 5px;
  }
  .fa-bell-o{
    font-size: 20px;
    padding: 5px;
  }
  .fa-info-circle{
    font-size: 20px;
    padding: 5px;
  }
  
  img.profile{
    width: 40px;
    height: 40px; ; 
    float: right;
    margin-top: 12px;
    border-radius:  50%;
    margin-right: 25px;
    margin-left: 20px;

  }

/*Section*/

section {
 margin-top: 65px
}

h2{
  margin-left: 25px;
  color: white;
  display: inline-block;
}

.fa-star-o{
  color: white;
  display: inline-block;
  font-size: 20px;
  margin-left: 20px;
}

.fa-lock{
  color: white;
  display: inline-block;
  font-size: 20px;
  margin-left: 50px;
}

h4{
  color: white;
  display: inline-block;
  font-size: 17px;
}

.main-right{
   float: right;
   margin-right: 25px;
   margin-top: 25px;
   color: white;
}

.main-right a {
  color: white;
}

.lista1{
  margin-top: 0px;
  width: 280px;
  height: 40px; 
  border-radius: 4px;
  color: white;
  float: left;
  margin-left: 30px;
  background-color: rgb(0,106,168);
}

.añade-lista{
  border-radius: 4px;
  font-size: 16px;
  margin: 9px 5px 7px 10px;
}

.lista1:hover{
  cursor: pointer;
  background: rgb(3,81,126);
}

.display-div{
  display: none;
}

.lista-change {
  border-radius: 4px;
  margin-left: 30px;
  width: 280px;
  height: 100px;
  background-color: rgb(226,228,230);
  display: none;
  margin-right: 30px;
}
/*class="movimiento"*/
.movimiento{
  background-color: rgb(226,228,230);
  width: 280px;
  height: 100px;
  display: inline-block;
  margin-left: 30px;
  margin-right: 30px;
}

.visible {
  display: block;
}
.new-list{
 font-size: 15px;
 margin-left: 10px;
 width: 260px;
 height: 40px;
 background-color: rgb(190,192,194);
 margin-bottom: 10px;
 border: none;
 border-radius: 3px;
 margin-top: 10px;
}

.save-button{
  margin-left: 10px;
  font-size: 15px;
  padding: 6px;
  border-radius: 4px;
  border: none;
  color: white;
  background-color: rgb(90,172,68);
}

.save-button:hover{
  cursor: pointer;
  background-color: rgb(58, 153, 31);
}

.fa-times {
  color: rgb(153,153,153);
  font-size: 24px;
  margin-left: 15px;
}

.fa-times:hover{
  cursor: pointer;
  color: rgb(99, 99, 99);
}

.ocultar {
  display: none;
}

.div-tarea{
  border-radius: 4px;
  background-color: rgb(226,228,230);
  width: 260px;
  height: auto;
  margin-left: 30px;
  display: none;
}

.agregar-tarjeta{
  width: 250px;
  height: 50px;
  margin-top: 4px;
  margin-bottom: 4px;
  background-color: rgb(226,228,230);
  padding: 4px;
  margin-left: 4px; 
  color: rgb(99, 99, 99);
}

.agregar-tarjeta:hover{
  background-color: rgb(162, 164, 165);
  cursor: pointer;
}

.anchor-decoration {
  text-decoration: underline;
}
.tarea {
  border-radius: 4px;
  width: 250px;
  height: 50;
  margin-top: 0px;
  margin-bottom: 4px;
  background-color: rgb(226,228,230);
  padding: 4px;
  margin-left: 4px; 
  color: rgb(0, 0, 0);
  float: left;
}

.visible-div-tarea {
  display: inline-block;
}

textarea{
  display: none;
  /*display: inline-block;*/
  margin-left: 11px;
  padding:4px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.anadir-boton{
  margin-left: 10px;
  font-size: 15px;
  margin-bottom: 10px;
  padding: 6px;
  border-radius: 4px;
  border: none;
  color: white;
  background-color: rgb(90,172,68);
  display: none;
}

.anadir-boton:hover{
  cursor: pointer;
  background-color: rgb(58, 153, 31);
}

.fa-times-circle-o{
  color: rgb(153,153,153);
  font-size: 24px;
  margin-left: 15px;
  margin-bottom: 10px;
  display: none;
}

.fa-times-circle-o:hover{
  cursor: pointer;
  color: rgb(99, 99, 99);
  cursor: pointer;
  display: none;
}

.visible-dos {
display:inline-block;
 }

 .tarea-agregada {
  border-radius: 4px;
  width: 250px;
  height: 50;
  margin-top: 0px;
  margin-bottom: 4px;
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  padding: 6px;
  margin-left: 4px; 
  color: rgb(0, 0, 0);
  float: left;
 }

 